@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:500,600,700&display=swap');

body,
button,
input,
select,
optgroup,
textarea {
	  color: $color__text-main;
	  font-family: $font__main;
	  @include font-size(1);
	  line-height: $font__line-height-body;
}

p a:link {
    color: #21759b;
}

p a:visited {
    color: #21759b;
}

p a:hover {
    color: #21759b;
}

p a:active {
    color: #21759b;
}

p {
    font-family: $font__main;
}

a {
    text-decoration: none;
}

#sidebar p {
    font-size: .95rem;
    text-align: center;
    font-weight: 350;
    letter-spacing: 0.06rem;
}

.featured-post-preview p {
    font-size: 1.1rem;
    font-weight: 300;
}

.grid-posts p {
    font-family: $font__main;
    font-size: .8rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.entry-content {
    p, li {
        font-size: $font__entry-content-size;
        font-weight: 350;
        letter-spacing: .05rem;
    }

    a {
        font-weight: 400;
    }
    a:hover {
        border-bottom: 2px solid $color__blue-lighter;
    }

    blockquote {
        display: block;

        p {

            font-size: 1.1rem;
            font-weight: 400;
            font-style: italic;
        }
    }

    blockquote:before {
        content: "\201C";
        display: block;
        font-size: 50px;
        font-size: 5rem;
        height: 0;
        left: 10%x;
        position: relative;
        top: -50px;
    }

    blockquote:after {
        content: "\201D";
        display: block;
        text-align: right;
        font-size: 50px;
        font-size: 5rem;
        height: 0;
        position: relative;
        top: -50px;
    }

}

.entry-footer-categories {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        margin-bottom: 25px;
        margin-top: 15px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    a {
        color: #fff;
        font-weight: 500;
        background-color: $color__blue-light;
        display: inline;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 50px;
        margin: 10px;
    }
    a:hover {
        color: #fff;
        background-color: $color__blue;
    }

    a:visited {
        color: #fff;
        background-color: $color__blue;
    }

    a:active {
        color: #fff;
        background-color: $color__blue;
    }
}

.entry-footer-tags {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 10px;
    }

    li {
        display: inline;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    a {
        padding: 10px;
        background-color: $color__orange;
        color: #fff;
        font-size: .8rem;
        font-weight: bold;
    }

    a:hover {
        background-color: $color__orange-dark;
        color: #fff;
    }
    a:active {
        color: #fff;
    }
    a:visited {
        color: #fff;
    }
    a:link {
        color: #fff;
    }
}

figcaption {
    font-size: .9rem;
    font-weight: 500;
}

#commentform input {
    padding: 10px;
}

.comment-form-author {
    font-weight: 500;
    input {
        margin-left: 15px;

    }
}

#comment {
    height: 150px;
    padding: 15px;
}

.comment-form-email {
    font-weight: 500;
    input {
        margin-left: 15px;

    }
}

#submit {
    padding: 15px;
    border-radius: 1px;
    background-color: $color__text-screen;
    color: #fff;
    font-weight: 500;
	  font-family: $font__header;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .1rem;
}

.comment-form-url {
    font-weight: 500;
    input {
        margin-left: 37px;

    }
}

.required {
    color: red;
    margin-left: 3px;
}

.main-navigation {
    li {
        a:active {
            color: #404040;
        }
        a:link {
            color: #404040;
        }
        a:hover {
            color: #404040;
        }
        a:visited {
            color: #404040;
        }
    }
}

#search-box {
    text-align: center;
    margin-top: -5px;
.search-form {
    .fa-search {
        font-size: 1.2rem;
        display: inline-block;
        position: absolute;
        margin-left: 225px;
        margin-top: 12px;
    }

    .search-field {
        margin: 0 auto;
        border-radius: 2px;
        padding: 10px;
        margin-bottom: -10px;
    }
}
}

.site-footer {
    a:link {
        color: #f6f6f6;
    }
    a:visited {
        color: #f6f6f6;
    }
    a:hover {
        color: #f6f6f6;
        border-bottom: 2px solid #f6f6f6;
    }
    a:active {
        color: #f6f6f6;
    }
}

.comments-area {
    .says {
        display: none;
    }
    a:link {
        color: #404040;
    }
    a:visited {
        color: #404040;
    }
    a:hover {
        color: #404040;
        border-bottom: 2px solid #404040;
    }
    a:active {
        color: #404040;
    }
    a.comment-reply-link {
        font-weight: 500;
    }
    a.comment-reply-link:link {
        color: $color__blue;
    }
    a.comment-reply-link:hover {
        color: $color__blue;
        border-bottom: 2px solid $color__blue-light;
    }

    .comment {
        padding-top: 35px;
    }
}

@import "headings";

@import "copy";
