$size__site-main: 100%;
$size__site-sidebar: 25%;
$size__max-site-container: 1127px;
$size__tab-site-container: 993px;
$size__mobile-site-container: 723px;
$break-large: 1127px;
$large-min-width: 1065px;
$medium-min-width: 768px;
$small-min-width: 415px;
