$font__main: 'Montserrat', sans-serif;
$font__header: 'Barlow Condensed', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__site-title-name: 3rem;
$font__menu-size: 1.3rem;
$font__sidebar-hello-size: 1.6rem;
$font__featured-readmore-size: 1rem;
$font__grid-post-title-size: 1.3rem;
$font__single-post-size: 2.4rem;
$font__entry-meta-size: 1.3rem;
$font__entry-content-size: 1.2rem;
